<div class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1><%= t(:students) %></h1>

    <table class="table">
      <thead>
        <tr>
          <th><%= t(:number) %></th>
          <th><%= t(:name) %></th>
          <th><%= t(:ects) %></th>
          <th><%= t(:avg) %></th>
          <th><%= t(:group) %></th>
          <th><%= t(:project) %></th>
          <th colspan="3"><%= t(:options) %></th>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.number %></td>
            <td><%= student.name %></td>
            <td><%= student.ects %></td>
            <td><%= student.average %></td>
            <td><%= student.group_id %></td>
            <td><%= student.project_id %></td>
            <td><%= link_to t(:show), student %></td>
            <td><%= link_to t(:edit), edit_student_path(student) %></td>
            <td><%= link_to t(:destroy), student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to t(:new_student), new_student_path, :class => "btn btn-primary" %>
  </div>
</div>