<!-- Navbar with profile  -->
    <nav class="navbar navbar-absolute navbar-expand-lg bg-white">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/"><%= t(:title) %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-profile" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse show" id="example-navbar-profile" data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item <%= 'active' if current_page?('/') %>">
                        <%= link_to root_path(locale: I18n.locale), class: "nav-link" do %>
                            <i class="fas fa-home"></i> <%= t(:home) %>
                        <% end %>
                    </li>
                    <li class="nav-item <%= 'active' if current_page?('/projects') %>">
                        <%= link_to projects_path(locale: I18n.locale), class: "nav-link" do %>
                            <i class="fas fa-briefcase"></i> <%= t(:projects) %>
                        <% end %>
                    </li>
                    <li class="nav-item <%= 'active' if current_page?('/users') %>">
                        <%= link_to users_path(locale: I18n.locale), class: "nav-link" do %>
                            <i class="fas fa-users"></i> <%= t(:users) %>
                        <% end %>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownLanguage">
                            <a class="dropdown-item" href="?locale=en"><%= t(:en) %></a>
                            <a class="dropdown-item" href="?locale=pt"><%= t(:pt) %></a>
                            <a class="dropdown-item" href="?locale=tr"><%= t(:tr) %></a>
                        </div>
                        </li>
                    <% if user_signed_in? %>
                    <li class="nav-item dropdown nav-item-image">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownUser" data-toggle="dropdown" aria-expanded="false">
                            <div class="">
                                <%= image_tag('/images/avatar.jpg', :class => "hoverZoomLink") %> 
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
                            <a class="dropdown-item" href="#"><%= t(:profile) %></a>
                            <a class="dropdown-item" href="#"><%= t(:def) %></a>
                            <div class="divider"></div>
                            <%= link_to t(:logout), destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
                        </div>
                    </li>
                    <% else %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/sign_in"> 
                            <i class="fas fa-sign-in-alt"></i>
                            <p><%= t(:signin) %></p>
                        </a>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar with profile -->