<div class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t(:username) %>:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong><%= t(:email) %>:</strong>
      <%= @user.email %>
    </p>

    <%= link_to t(:edit), edit_user_path(@user) %> |
    <%= link_to t(:back), users_path %>
  </div>
</div>