<div class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t(:project_name) %>:</strong>
      <%= @project.project_name %>
    </p>

    <p>
      <strong><%= t(:proj_desc) %>:</strong>
      <%= @project.project_description %>
    </p>

    <%= link_to t(:edit), edit_project_path(@project) %> |
    <%= link_to t(:back), projects_path %>
    </div>
</div>