<div class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1><%= t(:project_applications) %></h1>

    <table class="table">
      <thead>
        <tr>
          <th><%= t(:group) %></th>
          <th><%= t(:project) %></th>
          <th><%= t(:accepted) %></th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @project_applications.each do |project_application| %>
          <tr>
            <td><%= project_application.group_id %></td>
            <td><%= project_application.project_id %></td>
            <td><%= project_application.accepted %></td>
            <td><%= link_to t(:show), project_application %></td>
            <td><%= link_to t(:edit), edit_project_application_path(project_application) %></td>
            <td><%= link_to t(:destroy), project_application, method: :delete, data: { confirm: t(:confirmation) } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to t(:new_project_application), new_project_application_path, :class => "btn btn-primary" %>
    </div>
</div>