<div class="section">
  <div class="container">
  <% if notice %>
    <div class="alert alert-primary" role="alert">
      <%= notice %>
    </div>
  <% end %>
    <p></p>
    <h1><%= t(:advisors) %></h1>
    <div class="table-responsive">
      <table class="table table-striped">
          <tr>
            <th><%= t(:id) %></th>
            <th><%= t(:names) %></th>
            <th><%= t(:email) %></th>
            <th><%= t(:intern) %></th>
            <th colspan="3"><%= t(:options) %></th>
          </tr>

          <% @advisors.each do |advisor| %>
            <tr>
              <td><%= advisor.id %></td>
              <td><%= advisor.name %></td>
              <td><%= advisor.email %></td>
              <td><%= advisor.intern %></td>
              <td><%= link_to t(:show), advisor_path(advisor) %></td>
              <td><%= link_to t(:edit), edit_advisor_path(advisor) %></td>
              <td><%= link_to t(:destroy), advisor_path(advisor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
      </table>
    </div>


    <br>

    <%= link_to t(:new_advisor), new_advisor_path, :class => "btn btn-primary" %>
  </div>
</div>