<div class="section">
  <div class="container">
    <h1>Advisor</h1>

    <p>
      <strong>Id:</strong>
      <%= @advisor.id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @advisor.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @advisor.email %>
    </p>

    <p>
      <strong>Intern:</strong>
      <%= @advisor.intern %>
    </p>

    <%= link_to 'Edit', edit_advisor_path(@advisor) %> |
    <%= link_to 'Back', advisors_path %>
  </div>
</div>