<div class="section">
  <div class="container">
    <h1><%= t(:advisor) %></h1>

    <p>
      <strong><%= t(:id) %>:</strong>
      <%= @advisor.id %>
    </p>

    <p>
      <strong><%= t(:name) %>:</strong>
      <%= @advisor.name %>
    </p>

    <p>
      <strong><%= t(:email) %>:</strong>
      <%= @advisor.email %>
    </p>

    <p>
      <strong><%= t(:intern) %>:</strong>
      <%= @advisor.intern %>
    </p>

    <%= link_to t(:edit), edit_advisor_path(@advisor) %> |
    <%= link_to t(:back), advisors_path %>
  </div>
</div>